@import url("https://fonts.googleapis.com/css2?family=Ranchers&family=Ribeye+Marrow&display=swap");

body {
  font-family: "Ribeye Marrow", cursive;
  text-align: center;
  color:#a5ffd6; 
  background-color: black;
}

ul {
  list-style: none;
}

p {
  font-size: 3rem;
}

li {
  padding: 10px;
  font-size: 2.5rem;
}

.search-bar {
  border-radius: 20px;
  height: 40px;
  width: 500px;
  margin-top: 0px;
  padding: 5px;
  font-size: 1rem;
  background-color: rgb(206, 200, 200);
  font-family: "Ranchers", cursive;
  text-align: center;
}
